.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    background-color: white;
    margin: 3rem;
  }
  
  .product-rating {
    display: flex;
    justify-content: center;
  }
  
  .product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    
  }
  
  .product > button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  .product-price {
    margin-top: 5px;
  }
  
  .product-info {
  
  }